<form #SubCategoryForm="ngForm" (ngSubmit)="onSubmit(SubCategoryForm)">
    <div class="container">
        <div class="card shadow"><br>
            <div class="container">
                <h2 class="text-center display-6">Manage your sub categories</h2>
                <hr style="width:90%;" class="mx-5">
                <div class="container"><br>
                    <div class="d-flex justify-content-left">
                        <div class="col-md-2">
                            <label><b>Category</b></label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" [(ngModel)]="_subCategoryModel.IdCategory" name="IdCategory">
                                <option [ngValue]="0" selected>--Select Category--</option>
                                <option *ngFor="let item of _getSubCategoryModel " value={{item.id}}>{{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container"><br>
                    <div class="d-flex justify-content-left">
                        <div class="col-md-2">
                            <label><b>Sub Category</b></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="sub category" [(ngModel)]="_subCategoryModel.Name"
                                name="Name" class="form-control">
                            <input type="hidden" [(ngModel)]="_subCategoryModel.IdCategory" name="IdCategory"
                                class="form-control">
                        </div>
                        <div class="col-md-3 px-3">
                            <button type="submit" class="btn btn-warning btn-sm m-1"><i class="fa fa-plus"
                                    aria-hidden="true"></i> Add Category</button>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="container">
                <div class="card shadow margin-x"><br>
                    <h4 class="text-center" style="font-family:'Courier New', Courier, monospace ;">List of categories
                    </h4>
                    <hr style="width:90%; margin:5%;">
                    <table class="table table-striped col-md-10">
                        <thead class="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Entry Date</th>
                                <th scope="col">Update Date</th>
                                <th scope="col">Added by</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-primary"><i class="fa fa-edit"></i></th>
                                <th scope="col" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of _getListSubCategoryModel; let i = index">
                                <th>{{i + 1}}</th>
                                <th>{{item.name}}</th>
                                <td>{{item.createdDate | date:'mediumDate'}}</td>
                                <td *ngIf="item.updateDate==null">N/A</td>
                                <td *ngIf="item.updateDate !=null">{{item.updateDate | date:'mediumDate'}}</td>
                                <th>{{item.addBy}}</th>

                                <th *ngIf="item.status==true"> <button type="button"
                                        (click)="activateSubCategory(item.id)"
                                        style="width:75px;height:30px; font-size: 10px;" class="btn btn-outline-success"
                                        href="">Activate</button></th>
                                <th *ngIf="item.status==false"><button type="button"
                                        (click)="activateSubCategory(item.id)"
                                        style="width:75px;height:30px; font-size: 10px;" class="btn btn-outline-warning"
                                        href="">Deactivate</button></th>
                                <th scope="col" class="text-primary"><i class="fa fa-edit"></i></th>
                                <th scope="col" class="text-danger"><button><i class="fa fa-trash"
                                            aria-hidden="true"></i></button></th> -->
                            </tr>
                        </tbody>
                    </table>
                </div><br>
            </div>
        </div>
    </div>
</form>