################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AairahHR/FileContentIndex/fc3e225b-1909-4096-9e05-c72edce4bb0a.vsidx
