<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="container">
        <div class="card shadow"><br>
            <h2 class="text-center display-6">Manage your categories</h2>
            <hr style="width:90%;" class="mx-5">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="col-md-3">
                        <label>Category Name</label>
                    </div>
                    <div class="col-md-5">
                        <input [(ngModel)]="Category.Name" placeholder="Category name" name="Name" type="text"
                            class="form-control">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-warning btn-sm m-1"><i class="fa fa-plus"
                                aria-hidden="true"></i> Add Category</button>
                    </div>
                </div>
            </div><br><br>
            <div class="container">
                <div class="card shadow margin-x"><br>
                    <h4 class="text-center" style="font-family:'Courier New', Courier, monospace ;">List of categories
                    </h4>
                    <hr style="width:90%; margin:3%;">
                    <table class="table table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Entry Date</th>
                                <th scope="col">Update Date</th>
                                <th scope="col">Added by</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-primary"><i class="fa fa-edit"></i></th>
                                <th scope="col" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of  ListCategory; let i = index">
                                <th>{{i + 1}}</th>
                                <th>{{item.name}}</th>
                                <td>{{item.createdDate | date:'mediumDate'}}</td>
                                <td *ngIf="item.updateDate==null">N/A</td>
                                <td *ngIf="item.updateDate !=null">{{item.updateDate | date:'mediumDate'}}</td>
                                <th>{{item.addBy}}</th>
                                <!-- <th>{{item.addBy}}</th> -->
                                <th *ngIf="item.status==true"> <button type="button" (click)="onClick(item.id)"
                                        style="width:75px;height:30px; font-size: 10px;" class="btn btn-outline-success"
                                        href="">Activate</button></th>
                                <th *ngIf="item.status==false"><button type="button" (click)="onClick(item.id)"
                                        style="width:75px;height:30px; font-size: 10px;" class="btn btn-outline-warning"
                                        href="">Deactivate</button></th>
                                <th scope="col" class="text-primary"> <a ><i class="fa fa-edit" ></i></a>
                                </th>
                                <th scope="col" class="text-danger"><a type="button" (click)="DelCategory(item.id)"><i  class="fa fa-trash" aria-hidden="true"></i></a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><br>
        </div>
    </div>
</form>